
.card
{
	box-shadow:0 3px 10px rgb(0 0 0 / 1.0)!important;
	background-color: rgba(0,0,0,0.3);
}
.login-card-body, .register-card-body {
    background-color: rgba(0,0,0,0.0);
    border-top: 0;
    color: white;
    padding: 20px;
}
.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text {
	color:white;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #F2D7D5!important;
    color: #fff;
}


